*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f1f5f9;
  --white-color: #ffffff;
  --grey-color: #f0f0f0;
  --blue-color: #3d9ffe;
}

body {
  font-family: "Inter", sans-serif;
  text-align: center;
  background-color: var(--bg-color);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.modal {
  background-color: var(--white-color);
  padding: 50px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 7px;
  max-width: 550px;
}

.modal__text {
  margin: 10px 0 30px 0;
}

.modal__form {
  display: flex;
  gap: 10px;
}

.modal__input {
  padding: 15px 10px;
  outline: none;
  border: 2px solid var(--grey-color);
  border-radius: 5px;
  font-size: 0.875rem;
  flex: 3;
}

.modal__btn {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px var(--blue-color);
  border: none;
  border-radius: 5px;
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white-color);
  cursor: pointer;
  background-color: var(--blue-color);
  flex: 2;
}

.modal__label {
  display: block;
  text-align: left;
  margin-top: 10px;
  font-size: 0.8rem;
  max-width: 300px;
}

@media (max-width: 470px) {
  .modal__form {
    flex-direction: column;
  }
}
